.awesome
	.container
		h2 Why this is awesome
		.divider.orange
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit
		.row
			.awesome-item
				img(src="../images/Thoughtful-Design.png")
				h5 Thoughtful Design
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
			.awesome-item
				img(src="../images/Well-crafted.png")
				h5 Well Crafted
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
			.awesome-item
				img(src="../images/EASY-TO-CUSTOMIZE.png")
				h5 Easy to Customize
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.