.contacts
	.container
		h2 Stylish Axure Design
		.divider.orange
		p Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!
		form
			.row
				.left-inp
					input(type="name" placeholder="Name")
					input(type="email" placeholder="E-mail")
					input(type="subject" placeholder="Password")
				.right-inp
					textarea(type="text" placeholder="Message")
			input(type="submit" value="Send Message")