.feedback
	.container
		h2 Why this is comments
		.divider.orange
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit
		.row
			.feedback-item
				.feedbakc-text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
					.arrow
				.thumbnail
					.image
						img(src="../images/persone.png")
					.about-persone 
						h5 Jeremy H.
						p Manager	

			.feedback-item
				.feedbakc-text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
					.arrow
				.thumbnail
					.image
						img(src="../images/persone.png")
					.about-persone 
						h5 Jeremy H.
						p Manager	

			.feedback-item
				.feedbakc-text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
					.arrow
				.thumbnail
					.image
						img(src="../images/persone.png")
					.about-persone 
						h5 Jeremy H.
						p Manager	
