.pricing
	.container
		h2 Pricing options
		.divider.orange
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.row
			.pricing-item
				h6 Basic
				.cost
					p $<span>0</span>
					p.small-text Free for life
				.most-popular
					//- p 1 gb of space
				p.spec 1 gb of space
				p.spec 10 gb of bandwich
				p.spec 3 websites
				p.spec Basic costumization
				p.spec Wordpress integration
				p.spec Email support
				
			.pricing-item
				h6 Basic
				.cost
					p $<span>0</span>
					p.small-text Free for life
				.most-popular
					p 1 gb of space
				p.spec 1 gb of space
				p.spec 10 gb of bandwich
				p.spec 3 websites
				p.spec Basic costumization
				p.spec Wordpress integration
				p.spec Email support

			.pricing-item
				h6 Basic
				.cost
					p $<span>0</span>
					p.small-text Free for life
				.most-popular
					//- p 1 gb of space
				p.spec 1 gb of space
				p.spec 10 gb of bandwich
				p.spec 3 websites
				p.spec Basic costumization
				p.spec Wordpress integration
				p.spec Email support