.slider
  .container
    .row.--center
      .text-area
        h1.big-logo AX<span>IT</span>
        h2 MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES
        .divider.white
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

      .free-trial.--center
          .trial-box
            h3 Try Your <span>FREE</span> Trial Today
            form
              .input-box
                input(type= "text" name="name" placeholder="Name")
                input(type= "email" name="email" placeholder="Email")
                input(type= "password" name="password" placeholder="Password")
              input(type= "submit" name="submit"  value="Get Started")
