.axit-tabs
	.container.row
		.tab-nav.--center 
			.tab.btn-1.active Tab-1
			.tab.btn-2 Tab-2
			.tab.btn-3 Tab-3
		.nav-view 
			.box-view.view-1 
				h3 Tabs with soft transitioning effect.
				img(src="../images/bg-city.png" alt="bg-city" style="float:right")
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
				p Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
			//- .box-view.view-2 Lorem ipsum dolor Tab-2
			//- .box-view.view-3 Lorem ipsum dolor Tab-3